---
title: Generate content with :before and :after
sass:
  - generated.sass
  - quotes.sass
---

<h2>CSS Triangle</h2>

<div class="box">This is a comment</div>

<p>The trick here is to add content with :before or :after that has height and width of 0, solid transparent border of some width and border-top-color with the same color as the box.
  In addition this generated content is positioned absolutely. Here is the code:</p>

{% highlight sass %}
{% include generated.sass %}
{% endhighlight %}

<h2>CSS Quotes</h2>

<blockquote>This is a quote by some very famous person</blockquote>

{% highlight sass %}
{% include quotes.sass %}
{% endhighlight %}
